.login {
    padding-left: 30px;
    position: relative;
  }
  
  .login1 {
    display: flex;
    gap: 50px;
  }
  
  .login2 {
    /* border: 1px solid red; */
    height: 100vh;
    width: 50%;
    position: relative;
  }
  
  .login222 {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 10px;
    cursor: pointer;
  }
  
  .login2 img {
    width: 100%;
    height: 100%;
  }
  
  .login3 {
    margin-top: 50px;
    flex: 1;
    padding-left: 30px;
  }
  
  .login4 {
  }
  
  .login4 h3 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 41.21px;
    line-height: 49.87px;
    color: #023d50;
    margin: 0;
  }
  
  .login4 p {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 15.6px;
    line-height: 24.94px;
    color: #023d50;
    margin: 0;
    margin-top: 10px;
  }
  
  .login3 span {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 15.6px;
    line-height: 24.94px;
    color: #fc9721;
    margin: 0;
    cursor: pointer;
  }
  
  .login5 {
    position: absolute;
    bottom: 50px;
    margin-top: 50px;
  }
  
  .login5 p {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 15.99px;
    line-height: 22.98px;
    letter-spacing: 3%;
    color: #788ca0;
    margin: 0;
  }
  
  .login5 span {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 15.99px;
    line-height: 22.98px;
    letter-spacing: 3%;
    color: #023d50;
    margin: 0;
  }
  
  .login6 {
    margin-top: 20px;
    padding-left: 20px;
  }  