.landingpage {
  background: #fffefd;
  overflow-y: auto !important; 
  height: 100vh !important; 
  display: flex;
  flex-direction: column;
}

.landingpagemain {
  width: 100%;
  margin: auto;
}

.landingpagemain1 {
  width: 93%;
  margin: auto;
  margin-top: 10px;
}

.landingpagemain2 {
  margin-top: 50px;
}

.landingpagemain3 {
  width: 80%;
  margin: auto;
  /* margin-top: 50px; */
}

/* navbar  */

.navbarlanding {
  border-bottom: 1px solid #788ca0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbarlanding1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbarlanding1 h6 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 26.63px;
  color: #023d50;
  margin: 0;
}

.navbarlanding2 {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbarlanding2 button:nth-child(1) {
  width: 125px;
  height: 40px;
  border: 1px solid #023d50;
  border-radius: 5px;
  background-color: transparent;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16.94px;
  color: #023d50;
  margin: 0;
  cursor: pointer;
}

.navbarlanding2 button:nth-child(2) {
  width: 125px;
  height: 40px;
  border: 1px solid #023d50;
  border-radius: 5px;
  background-color: #023d50;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16.94px;
  color: #ffffff;
  margin: 0;
  cursor: pointer;
}

/* unclock your potential  */



.landingpage2 {
  display: flex;
  justify-content: space-between;
}

.landingpage3 {
  flex: 1;
}

.landingpage333 {
  margin-top: 10px;
}

.landingpage333 h4 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 43.57px;
  letter-spacing: 2%;
  color: #023d50;
  margin: 0;
}

.landingpage333 span {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 43.57px;
  letter-spacing: 2%;
  color: #fc9721;
  margin: 0;
}

.landingpage333 p {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19.36px;
  letter-spacing: 2%;
  color: #7a8b94;
  margin: 0;
  margin-top: 20px;
}

.landingpage333 label {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19.36px;
  letter-spacing: 2%;
  color: #fc9721;
  margin: 0;
}

.landingpage4 {
  margin-top: 20px;
}

.landingpage4 p {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 14.52px;
  letter-spacing: 3%;
  color: #7a8b94;
  margin: 0;
  margin-top: 10px;
}

.landingpage5 {
  margin-top: 20px;
}
.landingpage5 button {
  width: 60%;
  height: 40px;
  border: 1px solid #023d50;
  border-radius: 5px;
  background-color: #023d50;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16.94px;
  color: #ffffff;
  margin: 0;
  cursor: pointer;
  outline: none;
}

.landingpage6 {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.landingpage6 p {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 19.36px;
  letter-spacing: 2%;
  color: #000000;
  margin: 0;
}

.landingpage7 {
  display: flex;
  align-items: center;
  gap: 20px;
}

.landingpage8 {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #023d50;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #023d50;
}

.landingpage8:hover {
  background-color: #023d50;
  color: #ffffff;
}

.landingpage10 {
  padding-left: 100px;
}

.landingpage11 {
  padding-left: 240px;
}

.landingpage12 {
  padding-left: 20px;
  padding-top: 20px;
}

.landingpage13 {
  padding-left: 50px;
  padding-top: 20px;
}

/* One place  */



.landingpage16 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.landingpage16 h2 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 43.57px;
  letter-spacing: 2%;
  color: #023d50;
  margin: 0;
}

.landingpage16 span {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 43.57px;
  letter-spacing: 2%;
  color: #fc9721;
  margin: 0;
}

.landingpage17 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  margin: auto;
  margin-top: 10px;
}

.landingpage18 {
  text-align: center;
}

.landingpage18 p {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19.36px;
  letter-spacing: 2%;
  color: #7a8b94;
  margin: 0;
}

.landingpage19 {
  width: 85%;
  text-align: end;
}

.landingpage20 {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 30px;
}

.landingpage21 {
  width: auto;
  height: auto;
  background: #28557305;
  box-shadow: 0px 1.66px 9.3px 0px #dadada;
  border-radius: 4.15px;
  padding: 50px 25px 25px 25px;
}

.landingpage22 {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 20px;
}

.landingpage22 h6 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 19.93px;
  line-height: 24.12px;
  color: #023d50;
  margin: 0;
}

.landingpage23 {
  margin-top: 20px;
}

.landingpage23 p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14.95px;
  line-height: 18.09px;
  color: #505050;
  margin: 0;
}

.landingpage24 {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  margin-top: 50px;
}

.landingpage24 h6 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 18.27px;
  line-height: 22.11px;
  color: #002f25;
  margin: 0;
}

.landingpage25 {
  width: 100%;
  height: 8px;
  border-radius: 5px;
  background: #d9d9d9cc;
  margin-top: 30px;
}

.landingpage26 {
  width: 50%;
  margin: auto;
  height: 8px;
  border-radius: 5px;
  background: #fc9721;
}

.landingpage27 {
  margin-top: 20px;
  text-align: center;
}

.landingpage27 button {
  width: 240px;
  height: 40px;
  border: 1px solid #023d50;
  border-radius: 5px;
  background-color: #023d50;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16.94px;
  color: #ffffff;
  margin: 0;
  cursor: pointer;
  outline: none;
}

/* Startlearning */


.landingpage29 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.landingpage32 {
  padding-left: 100px;
}

.landingpage33 {
  margin-top: 20px;
}

.landingpage33 h6 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 43.57px;
  letter-spacing: 2%;
  color: #023d50;
  margin: 0;
}

.landingpage33 span {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 43.57px;
  letter-spacing: 2%;
  color: #fc9721;
  margin: 0;
}

.landingpage33 p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16.25px;
  line-height: 19.87px;
  letter-spacing: 2%;
  color: #7b7c7d;
  margin: 0;
  margin-top: 20px;
}

.landingpage34 {
  margin-top: 20px;
}

.landingpage34 button {
  width: 246px;
  height: 40px;
  border: 1px solid #023d50;
  border-radius: 5px;
  background-color: #023d50;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16.94px;
  color: #ffffff;
  margin: 0;
  cursor: pointer;
  outline: none;
}

.landingpage35 {
  margin-top: 40px;
  padding-left: 20px;
}

.landingpage36 {
  margin-top: 30px;
  padding-left: 80px;
}



.landingpage38 {
  padding-left: 300px;
}

.landingpage39 {
  padding-left: 230px;
}

.landingpage40 {
  display: flex;
  align-items: center;
  gap: 50px;
}

.landingpage41 {
  width: 196px;
  height: 196px;
  border-radius: 27.09px;
  background: #ffffff;
  border: 0.5px solid #023d50;
  box-shadow: 0px 1.81px 29.89px 0px #0000000d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.landingpage41 h6 {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 41.54px;
  line-height: 19.87px;
  letter-spacing: 2%;
  color: #fc9721;
  margin: 0;
}

.landingpage41 p {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 18.06px;
  letter-spacing: 2%;
  color: #7b7c7d;
  margin: 0;
  text-align: center;
}

.landingpage42 {
  width: 196px;
  height: 196px;
  border-radius: 27.09px;
  background: #023d50;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.landingpage42 h6 {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 41.54px;
  line-height: 19.87px;
  letter-spacing: 2%;
  color: #ebeff5;
  margin: 0;
}

.landingpage42 p {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 18.06px;
  letter-spacing: 2%;
  color: #ffffff;
  margin: 0;
  text-align: center;
}

.landingpage43 {
  padding-left: 50px;
  padding-top: 20px;
}

.landingpage44 {
  margin-top: 20px;
}

/* Classes */



.landingpage46 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.landingpage46 h6 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21.78px;
  letter-spacing: 2%;
  color: #023d50;
  margin: 0;
}

.landingpage47 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: auto;
  height: auto;
  border-radius: 5px;
  border: 1px solid #023d50;
  cursor: pointer;
  padding: 10px 20px 10px 20px;
  color: #023d50;
}

.landingpage47:hover {
  background-color: #023d50;
  color: #ffffff;
  p {
    color: #ffffff;
  }
}

.landingpage47 p {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 21.78px;
  letter-spacing: 2%;
  color: #023d50;
  margin: 0;
}

.landingpage48 {
  width: 85%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  margin-top: 40px;
}

.landingpage49 {
  width: auto;
  height: 99px;
  border-radius: 5px;
  background: #d9d9d94f;
  border: 0.5px solid #7c7c7c;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.landingpage49 h6 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24.2px;
  letter-spacing: 2%;
  color: #023d50;
  margin: 0;
}

.landingpage50 {
  margin-top: 40px;
}

/* GettheApp */

.landingpage51 {
  width: 100%;
  background-color: #ecfaff;
  padding-top: 100px;
  padding-bottom: 50px;
}

.landingpage52 {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: auto;
}



.landingpage54 {
  padding-left: 250px;
}



.landingpage55 h6 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 2%;
  color: #fc9721;
  margin: 0;
}

.landingpage55 span {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 2%;
  color: #023d50;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 100px;
}

.landingpage56 {
  text-align: center;
  margin-top: 20px;
}



.landingpage57 p {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 2%;
  color: #000000;
  margin: 0;
  margin-top: 25px;
}

.landingpage58 {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100px;
  cursor: pointer;
  margin-top: 30px;
}

.landingpage59 {
  display: flex;
  align-items: center;
}



.landingpage61 {
  padding-left: 50px;
}

.landingpage62 {
  padding-left: 100px;
}

/* ClientSay */

.landingpage63 {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: auto;
  margin-top: 30px;
}

.landingpage64 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 276px;
}

.landingpage65 {
  border-right: 1px solid #023d50;
  border-bottom: 1px solid #023d50;
  width: 90px;
  height: 73.5px;
  border-radius: 0px 0px 5px 0px;
}

.landingpage65 img {
  padding-left: 20px;
}

.landingpage66 {
  border-right: 1px solid #023d50;
  border-top: 1px solid #023d50;
  width: 90px;
  height: 73.5px;
  border-radius: 0px 5px 0px 0px;
}

.landingpage66 img {
  padding-top: 20px;
  padding-left: 20px;
}

.landingpage67 {
  height: 276px;
  border: 1px solid #023d50;
  border-radius: 5px;
  margin: 0 auto;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}



.landingpage69 h6 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  color: #fc9721;
  margin: 0;
}

.landingpage69 p {
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-size: 18px;
  line-height: 30px;
  color: #023d50;
  margin: 0;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}
.landingpage70 {
  margin-top: 20px;
}

.landingpage70 p {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #788ca0;
  margin: 0;
  text-align: center;
}

.landingpage71 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 276px;
}

.landingpage72 {
  border-left: 1px solid #023d50;
  border-bottom: 1px solid #023d50;
  width: 90px;
  height: 73.5px;
  border-radius: 0px 0px 0px 5px;
}

.landingpage72 img {
  padding-top: 20px;
  padding-left: 20px;
}

.landingpage73 {
  border-left: 1px solid #023d50;
  border-top: 1px solid #023d50;
  width: 90px;
  height: 73.5px;
  border-radius: 5px 0px 0px 0px;
}

.landingpage73 img {
  padding-top: 20px;
  padding-left: 20px;
}

/* Custom styles for the carousel indicators */

.landingpage67 .carousel .control-dots {
  position: absolute;
  z-index: 1;
  bottom: -11.2px;
}
.landingpage67 .carousel .control-dots .dot {
  background: #023d50;
  margin-top: 50px !important;
}

.carousel .control-dots .dot.selected,
.carousel .control-dots .dot:focus {
  background-color: #fc9721;
}

/* Footerlanding */





.footerlanding2 {
  width: 85%;
  height: 229px;
  background-color: #023d50;
  border-radius: 16.67px;
  position: relative;
  z-index: 1;
  margin: auto;
  top: 80px;
}

.footerlanding4 {
  text-align: center;
}

.footerlanding4 h1 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 35px;
  line-height: 40px;
  color: #ffffff;
  margin: 0;
}

.footerlanding5 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 50px;
  width: 80%;
  margin: auto;
  margin-top: 20px;
}

.footerlanding5 input {
  width: 100%;
  height: 50px;
  padding-left: 10px;
  background: #023d50;
  border: 0.83px solid #d4d4d8;
  outline: none;
  border-radius: 7.5px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 13.33px;
  line-height: 21.67px;
  color: #ffffff;
}

.footerlanding5 input::placeholder {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 13.33px;
  line-height: 21.67px;
  color: #ffffff;
  margin: 0;
}

.footerlanding5 button {
  width: auto;
  height: auto;
  padding: 13.33px;
  background-color: #fc9721;
  border: none;
  outline: none;
  border-radius: 7.5px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 13.33px;
  line-height: 21.67px;
  letter-spacing: -0.17px;
  color: #ffffff;
  margin: 0;
}

.footerlanding6 {
  text-align: end;
  padding-top: 9px;
}

.footerlanding7 {
  background-color: #ecfaff;
  /* background-color: #000000; */
  padding: 60px;
}

.footerlanding8 {
  display: flex;
  gap: 30px;
  margin-top: 70px;
}

.footerlanding9 {
  width: 50%;
}



.footerlanding10 h6 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 40.31px;
  line-height: 48.79px;
  color: #023d50;
  margin: 0;
}

.footerlanding11 {
  margin-top: 30px;
  width: 70%;
}

.footerlanding11 p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 15.12px;
  line-height: 29.39px;
  color: #7d92a7;
  margin: 0;
}

.footerlanding12 {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 60px;
}

.footerlanding13 {
  width: 58.79px;
  height: 58.79px;
  background: #1c1c2033;
  border: 0.84px solid;
  border-image-source: linear-gradient(
    192.64deg,
    #788ca0 24.6%,
    rgba(120, 140, 160, 0) 90.87%
  );
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #023d50;
  cursor: pointer;
}

.footerlanding13:hover {
  background: #fc97212e;
  color: #fc9721;
}

.footerlanding14 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footerlanding15 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerlanding16 h6 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 15.12px;
  line-height: 25px;
  color: #023d50;
  margin: 0;
}



.footerlanding17 ul li {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 15.12px;
  line-height: 25px;
  color: #788ca0;
  margin: 0;
}



.footerlanding18{
  height: 58px;
  background: #023D50;
}


.footerlanding19{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  width: 80%;
  margin: auto;
}


.footerlanding19 h6{
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.36px;
  color: #FFFFFF;
  margin: 0;
}