.sidebar {
  width: auto;
  height: auto;
  /* background-color: red; */
}

.sidebar1 {
  margin-top: 35px;
}

.sidebar2 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sidebar2 p {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19.36px;
  color: #023d50;
  margin: 0;
}

.sidebar3 {
  text-align: end;
  cursor: pointer;
  padding-right: 10px;
}

.sidebar4 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar4 h3 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 26.63px;
  color: #023d50;
  margin: 0;
}

.sidebar-link.active {
  width: auto;
  height: auto;
  padding: 15px 4px 15px 25px;
  display: flex;
  align-items: center;
  background: linear-gradient(
    89.97deg,
    rgba(206, 243, 255, 0.04) 2.04%,
    rgba(0, 174, 230, 0.2) 61.69%,
    rgba(0, 174, 230, 0.2) 80.04%,
    rgba(0, 174, 230, 0.2) 98.2%
  );
  border-right: 3px solid #00aee6;
  border-radius: 5px;
}

.sidebar-link {
  text-decoration: none;
  width: auto;
  height: auto;
  padding: 16px 4px 16px 25px;
  display: flex;
  align-items: center;
  margin-top: 15px;
}
/* Sidebar.css */
.sidebar2 {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    cursor: pointer;
}

/* Separate styling for the logout button */
.logout:hover {
    background-color: #f5f5f5; /* Or any other hover effect */
}

/* Prevent default active or hover styles on the logout option */
.sidebar-link.active,
.sidebar-link:hover {
    background-color: #e0f4f7;
}

/* Make sure the logout button doesn't inherit this */
